.flex-container {
    display: flex;
    flex-wrap: wrap-reverse ;
    background-color: #f1f1f1 ;
  }
  
  .flex-container > div {
    background-color: #f9c987;
    width: 7000px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 10px;
  }



.carousel-inner{
  display: flex;
  flex-direction: row;
}