:root {
    --color-primary: #ffffff;
    --color-secondary: #451f0f;
    --color-tertiary: #f9c987;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: var(--color-primary);
    color: var(--color-text);

    font-family: 'Arial', sans-serif;
}