@import url(/css/base.css);

:root {
    --color-text: #5E3012;
    --brown-light: #997C64;
    --beige-light: #DECEB7;
    --yellow-dark: #F0CA74;
    --yellow-light: #FCCC8C;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--beige-light);
    color: var(--color-text);
}

.main-content {
    display: flex;
    flex-direction: column;
}

#banner {
    width: 100%;
}

.solutions-section {
    text-align: center;
    margin-bottom: 40px;
}

.solutions-title {
    color: var(--color-text);;
    margin-bottom: 20px;
}

.solutions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.solution-card {
    background-color: var(--accent-color);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    width: 250px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.solution-card h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.solution-card p {
    color: var(--secondary-color);
    font-size: 1rem;
}