<ul id="social-links">
    <li>
        <a class="social-link" href="https://www.facebook.com/granjaserradourada/" target="_blank">
            <img src="/assets/icons/facebook.png" loading="lazy" alt="Facebook" class="social-icon">
        </a>
    </li>

    <li>
        <a class="social-link" href="https://www.instagram.com/gserradourada/" target="_blank">
            <img src="/assets/icons/instagram.png" loading="lazy" alt="Instagram" class="social-icon">
        </a>
    </li>

    <li>
        <a class="social-link" href="https://www.linkedin.com/company/granjaserradourada/" target="_blank">
            <img src="/assets/icons/linkedin.png" loading="lazy" alt="Linkedin" class="social-icon">
        </a>
    </li>

    <li>
        <a class="social-link" href="https://wa.me/69999090548" target="_blank">
            <img src="/assets/icons/whatsapp.png" loading="lazy" alt="Whatsapp" class="social-icon">
        </a>
    </li>

    <li>
        <a class="social-link" href="https://web.whatsapp.com/send?phone=69999090548" target="_blank">
            <img src="/assets/icons/whatsapp web.png" loading="lazy" alt="Whatsapp" class="social-icon">
        </a>
    </li>
</ul>

<p id="copyright">&copy;2024 Granja Serra Dourada. Todos os direitos reservados.</p>