@import url('../base.css');

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: #53350c;
    text-shadow: 1px 1px #f9c98d;
    background-color: #f9c98d;
}

.flex-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;

}

.flex-container>div {
    background-color:#ffcd88;
    border: #000000;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    font-size: 30px;
    margin: 30PX;
    margin-top: 10px auto;
    text-align: center;
    box-shadow: 5px 1px 6px #5e4c34b9;
}

.produto{
    text-align: center;
    font-size: 25px;
    color: #fffdf9;
    text-shadow: 2px 1px #00000060;
    background-color: #fff1dd;
    border-radius: 10px;
}

.image {
    width: 90%;
    border-radius: 10%;
}