<img id="logo" src="/assets/images/logo_rounded.png" alt="Logo - Granja Serra Dourada">

<div id="menu">
    <button id="menu-toggle">
        <img id="menu-icon" src="/assets/icons/menu-closed.png" alt="Menu">
    </button>

    <div id="menu-box" class="hidden">
        <nav>
            <ul id="navigation-links-mobile">
                <li><a class="navigation-link" href="/">Home</a></li>
                <li><a class="navigation-link" href="/sobre">Quem Somos</a></li>
                <li><a class="navigation-link" href="/produtos">Produtos</a></li>
                <li><a class="navigation-link" href="/contato">Contato</a></li>
                <li><a class="navigation-link" href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</div>

<nav>
    <ul id="navigation-links-desktop">
        <li><a class="navigation-link" href="/">Home</a></li>
        <li><a class="navigation-link" href="/sobre">Quem Somos</a></li>
        <li><a class="navigation-link" href="/produtos">Produtos</a></li>
        <li><a class="navigation-link" href="/contato">Contato</a></li>
        <li><a class="navigation-link" href="/login">Login</a></li>
    </ul>
</nav>